<%= form_for @widget do |f| -%>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p> 
    <%= f.label :config %>    
    <%= f.text_area :config %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end -%>
